body
{
    background: url(/static/mole_6.png);
}
.currentStatus
{
    margin-top:10px;
    border-style:solid;
    border-width:3px;
    border-radius: 10px;
    border-color:#3E3E3E;
    background-color: #FFFFFF;
    font-family: 'Segoe UI Semibold','Segoe UI','Lucida Grande',Verdana,Arial,Helvetica,sans-serif;
}
h1
{
    padding:50px 10px 10px 20px;
    margin:0px;
    background-color:#3E3E3E;
    color:#FFFFFF;
    font-size: 2.7em;
    font-weight: bold;
    font-family: 'Segoe UI Semibold','Segoe UI','Lucida Grande',Verdana,Arial,Helvetica,sans-serif;
}
h2
{
    margin:0px;
    border-style:solid;
    border-radius: 5px 5px 0px 0px;
    background-color:#3E3E3E;
    border-color:#3E3E3E;
    color:#FFFFFF;
    padding-left:10px;
    font-size: 1.5em;
    font-weight: bold;
}
.currentStatus table
{
    border-collapse: separate;
    border-spacing: 5px;
}
.currentStatus td
{
    padding:3px;
    border-spacing: 5px;
    color:#000000;
}
.currentStatus p
{
    margin-top:10px;
    margin-left:10px;
    color:black;
}
.running
{
    border-style:solid;
    border-width:1px;
    background-color:#E6EDC4;
    border-color:#64D480;
}
.notrunning
{
    border-style:solid;
    border-width:1px;
    background-color:#FBE9E7;
    border-color:#DF5B69;
}
.statusList
{
    margin-top:10px;
    border-style:solid;
    border-width:3px;
    border-radius: 10px;
    border-color:#3E3E3E;
    font-family: 'Segoe UI Semibold','Segoe UI','Lucida Grande',Verdana,Arial,Helvetica,sans-serif;
}
.statusList li
{
    border-style:solid;
    border-width:1px;
    background-color:#3E3E3E;
    border-color:#FFFFFF;
    color:#FFFFFF;
    padding-left:10px;
    font-size: 1em;
    cursor:pointer;
}
ul
{
    background-color:#3E3E3E;
    list-style-type: none;
    padding:0px;
    margin:0px;
}
ul input
{
    display: block;
    margin: auto;
}
a, a:hover, a:focus
{
    color:white;
    font-style:italic;
    text-decoration: none;
}
li.isSelected, .isSelected a
{
    color:#3E3E3E;
    background-color:white;
}
svg
{
    display: block;
    margin: auto;
    max-height: 350px;
    height: 350px;
    height:auto !important;
}
.slice path
{
  stroke: #fff;
}
text
{
    text-rendering: optimize-legibility;
}