<!DOCTYPE html>
<html lang="en" ng-app="chemstation">
 <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChemStation DashBoard</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/extrastyles.css">
 </head>
 <body ng-controller="StatusCtrl">
    <div class="container">
        <div class="page-header">
            <h1>CHEMSTATION REMOTE DASHBOARD</h1>
        </div>
        <div class="row">
            <div class="span4 offset2 currentStatus">
                <h2>STATUS DETAILS</h2>
                <table class="table">
                    <tbody>
                        <tr>
                            <td></td>
                            <td>{{currentStatus.Time}}</td>
                        </tr>
                        <tr>
                            <td>Status:</td>
                            <td>{{currentStatus.Status}}</td>
                        </tr>
                        <tr>
                            <td>Method:</td>
                            <td ng-class="{ running: currentStatus.MethodRunning, notrunning: !currentStatus.MethodRunning}">{{currentStatus.MethodName}}</td>
                        </tr>
                        <tr>
                            <td>Sequence:</td>
                            <td ng-class="{ running: currentStatus.SequenceRunning, notrunning: !currentStatus.SequenceRunning}">{{currentStatus.SequenceName}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="span4 statusList">
                <h2>RECENT</h2>
                <ul>
                    <input type="image" src="/static/arrow_up.png" ng:click="statusForward()"/>
                    <li ng-repeat="status in statuses" ng-class="{isSelected: status.Id == currentStatus.Id}" ng-click="viewStatus(status)">
                        {{status.Time}}<br/>{{status.Status}}
                    </li>
                    <input type="image" src="/static/arrow_down.png" ng:click="statusBackward()"/>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="span4 offset2 currentStatus">
                <h2>STATISTICS</h2>
                <div>
                    <p>Status since {{data.time}}:</p>
                    <status-chart val="data"></status-chart>
                </div>
            </div>
        </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="/static/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js "></script>
    <script src="/static/controllers.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
 </body>
</html>